html{
    background-color: #f3e5d8;
}

body{
    background-color: #f5f0eb;
    max-width: 800px;
    margin: auto;       
    border-radius: 20px;
    padding: 2rem;
            
    

}
.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.5rem
}
.tituloprincipal {
    color: #2d2d2d;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    
  }


.outfit-principal {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

html.outfit-texto {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .cuerpocolor{
    background-color: #faf5f1;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  .colortitulo{
    color: #64235c;
  }
  .ingredients-list li::before {
    content: "•";
    color: #854632;
    position: absolute;
    left: -1rem;
}

.instructions-list li {
    margin-bottom: 1rem;
    color: #444;
    position: relative;
    padding-left: 2rem;
}

.nutrition {
    margin-top: 2rem;
    background-color: #faf5f1;
    padding: 1.5rem;
    border-radius: 10px;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #e8e8e8;
    padding: 0.75rem 0;
    color: #4a4a4a;
    
}